body {
  background-color: black;
  font-size: inherit;
}

h1 {
  font-size: 2.3rem;

}

p {
  font-size: 1.5rem;
}

.poster {

  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}